workflows/WF#1 - AI_ticket_routing.json
{
  "name": "WF#1 - AI_ticket_routing",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "is:unread newer_than:1d"
        },
        "options": {}
      },
      "id": "711ee9aa-cfac-4b5e-a42e-3987a91aa313",
      "name": "Gmail Trigger (every 1m)",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -1248,
        96
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "61BBxqpSqGsPZOto",
          "name": "Gmail account"
        }
      },
      "notes": "Кожну хвилину перевіряє непрочитані листи за останню добу. Це джерело тікетів. Замість Gmail можна підключити Helpdesk webhook, Typeform, форму на сайті — логіка далі та сама."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Тікет від клієнта:\n\nFrom: {{ $json.from_email }}\nSubject: {{ $json.subject }}\nBody: {{ $json.body }}\nThread ID: {{ $json.thread_link }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ти — старший координатор customer support команди в FurniSpace (інтернет-магазин меблів з власним шоурумом). Твоя задача — класифікувати вхідний тікет і присвоїти йому пріоритет.\n\nКАТЕГОРІЇ:\n- order_delivery: статус замовлення, дата доставки, зміна адреси, перенесення дати монтажу\n- payment: передоплата не пройшла, повернення коштів, питання щодо розстрочки\n- quality: брак, подряпини при отриманні, неправильні розміри, дефект складання\n- installation: питання щодо збирання, повторний виїзд монтажника, гарантійний ремонт\n- tech: сайт не працює, кошик глючить, помилки в особистому кабінеті, не приходять листи\n- consultation: підбір меблів, наявність кольору/тканини, питання про матеріали\n\nПРІОРИТЕТИ:\n- P1 (15 хв): критично — монтажники не приїхали у заявлений час, передоплата списалась двічі, сайт повністю не працює (блокує всі продажі), VIP-клієнт у негативі\n- P2 (2 год): важливо — привезли меблі з браком, не працює форма оплати на конкретній сторінці, клієнт заблокований без втрати грошей\n- P3 (24 год): стандарт — перенесення дати доставки, питання про розстрочку, дрібний візуальний баг\n- P4 (48 год): інформаційно — консультація по підбору, питання про наявність кольору/тканини\n\nВЛАСНИКИ (default):\n- order_delivery → irina_logistics\n- payment → oleg_founder\n- quality → maksym_support\n- installation → irina_logistics\n- tech → dmytro_tech\n- consultation → katya_support\n\nСПЕЦІАЛЬНІ ПРАВИЛА:\n- VIP-клієнт (замовлення >50 000 грн або повторний клієнт) → мінімум P2, незалежно від категорії\n- Технічний збій, що блокує оплату/оформлення замовлення → завжди P1, навіть якщо прийшло не від клієнта\n- Пропущений дзвінок → P1 з позначкою \"потребує callback\"\n\nCHAIN OF THOUGHT (ОБОВ'ЯЗКОВО):\nПЕРЕД присвоєнням пріоритету проаналізуй 3 виміри:\n1. Терміновість: чи є ознаки часового тиску, втрати грошей, емоційного загострення, чи стосується це монтажу/доставки в обумовлений час\n2. Бізнес-вплив: чи йдеться про гроші, повторну покупку, репутацію (особливо публічні скарги)\n3. Контекст: ознаки VIP-клієнта (сума замовлення, повторюваність), складна логістика (віддалений регіон)\n\nSLA_DEADLINE: розрахуй як час отримання тікета + sla_minutes, у форматі ISO 8601 (напр. 2026-06-22T14:30:00Z). Якщо точний час отримання тікета не вказано в контексті — використай поточний момент обробки.\n\nSTATUS: для щойно класифікованого тікета завжди встановлюй \"open\".\n\nПОВЕРНИ JSON у такому форматі (БЕЗ markdown-обгортки). Приклад заповненого тікета:\n{\n  \"category\": \"quality\",\n  \"priority\": \"P2\",\n  \"owner\": \"maksym_support\",\n  \"sla_minutes\": 120,\n  \"sla_deadline\": \"2026-06-22T16:30:00Z\",\n  \"status\": \"open\",\n  \"thread_link\": \"https://mail.google.com/mail/u/0/#inbox/FMfcgzGwJxxxxx\",\n  \"reasoning\": \"Клієнт отримав диван з подряпиною на спинці. Це впливає на повторну покупку та репутацію, бо клієнт вже писав один раз про затримку доставки. Ознак VIP чи критичної терміновості немає, тому P2 достатньо.\",\n  \"summary\": \"Клієнт повідомив про подряпину на дивані при отриманні замовлення.\",\n  \"customer_sentiment\": \"frustrated\"\n}\n\nЯкщо thread_link не передано в контексті тікета — поверни значення null (як JSON null, без лапок, а не текст \"null\").\n\nДопустимі значення полів:\n- category: order_delivery | payment | quality | installation | tech | consultation\n- priority: P1 | P2 | P3 | P4\n- owner: irina_logistics | oleg_founder | maksym_support | dmytro_tech | katya_support\n- sla_minutes: 15 | 120 | 1440 | 2880 (відповідно до пріоритету)\n- status: завжди \"open\" для нового тікета\n- customer_sentiment: positive | neutral | frustrated | angry"
        }
      },
      "id": "de4365b3-91b3-44b4-89ea-e03614125ce7",
      "name": "AI Classifier (Chain of Thought)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -800,
        96
      ],
      "notes": "Серце системи. Промпт включає: ролі, категорії, пріоритети, default owners, інструкцію Chain of Thought, формат JSON. Адаптуй категорії та SLA-хвилини під свій бізнес."
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.2
        }
      },
      "id": "dbee395c-04f2-4bb0-8569-6a5c55b79207",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -800,
        288
      ],
      "credentials": {
        "openAiApi": {
          "id": "1KvtLdifiYxbl3M6",
          "name": "OpenAI account"
        }
      },
      "notes": "gpt-4o-mini — оптимум ціна/якість. Температура 0.2 для передбачуваності. response_format=json_object щоб модель не повертала markdown."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1o_K7vTM26fqb5DFRBkaic4BqlaPEEkCqfyWqCI4IKOM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o_K7vTM26fqb5DFRBkaic4BqlaPEEkCqfyWqCI4IKOM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticket_id": "={{ $('Collect Ticket Context').item.json.ticket_id }}",
            "created_at": "={{ $('Collect Ticket Context').item.json.created_at }}",
            "from_email": "={{ $('Collect Ticket Context').item.json.from_email }}",
            "subject": "={{ $('Collect Ticket Context').item.json.subject }}",
            "category": "={{ $json.output.category }}",
            "priority": "={{ $json.output.priority }}",
            "owner": "={{ $json.output.owner }}",
            "sla_minutes": "={{ $json.output.sla_minutes }}",
            "sla_deadline": "={{ $json.output.sla_deadline }}",
            "status": "={{ $json.output.sla_deadline }}",
            "summary": "={{ $json.output.summary }}",
            "reasoning": "={{ $json.output.reasoning }}",
            "sentiment": "={{ $json.output.customer_sentiment }}",
            "thread_link": "={{ $json.output.thread_link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_email",
              "displayName": "from_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "owner",
              "displayName": "owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sla_minutes",
              "displayName": "sla_minutes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sla_deadline",
              "displayName": "sla_deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reasoning",
              "displayName": "reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thread_link",
              "displayName": "thread_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a7f501c7-e504-4daa-b00a-cd6aba137c30",
      "name": "Log → Tickets Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -224,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ItSMJ2w9AqLAUTVz",
          "name": "Google Sheets account"
        }
      },
      "notes": "Логуємо ВСІ не-спам тікети у Sheets. Це база, на якій працює і дашборд, і SLA-watcher, і Root Cause Analysis. Не економте на полях — повна історія коштує копійок."
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BC88ME802",
          "mode": "id"
        },
        "text": "=:rotating_light: *Новий тікет — {{ $json.output.priority }}*\n\n*Власник:* {{ $json.output.owner }}\n*Категорія:* {{ $json.output.owner }}\n*SLA:* {{ $json.output.sla_minutes }} хв (до {{ $json.output.sla_deadline }})\n*Sentiment:* {{ $json.output.customer_sentiment }}\n\n*Тема:* {{ $('Collect Ticket Context').item.json.subject }}\n*Від:* {{ $('Collect Ticket Context').item.json.from_email }}\n\n*Що сталось:* {{ $json.output.summary }}\n\n*Чому такий пріоритет:*\n_{{ $json.output.reasoning }}_\n\n<{{ $json.output.thread_link }}|→ Відкрити thread>",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "23a75aa2-4857-4853-b5c2-6dcc43f600b8",
      "name": "Slack: Notify Owner",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        -224,
        192
      ],
      "webhookId": "bdb1dec6-862a-43a1-9e9a-5a6a94f81c5c",
      "credentials": {
        "slackApi": {
          "id": "Q1JXerM8ObmRGGWO",
          "name": "Slack account"
        }
      },
      "notes": "Перше повідомлення власнику. Включає Chain of Thought обґрунтування — щоб менеджер бачив, чому AI присвоїв саме цей пріоритет. Це критично для довіри до системи."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-not-spam",
              "leftValue": "={{ $json.category }}",
              "rightValue": "spam",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2b7931d2-971d-4f0a-ac6e-b19c52a056eb",
      "name": "Now spam?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -448,
        96
      ],
      "notes": "Захист бюджету: спам не йде далі. Логуємо тільки осмислені тікети."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66cf34c3-cf33-4f10-8071-e9a2f01b10eb",
              "name": "ticket_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "33dde173-bc05-4338-bab1-eea1b70abcc1",
              "name": "created_at",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "85a80bb8-b6ef-4913-89e7-15c6c173be3b",
              "name": "from_email",
              "value": "={{ $json.from.value[0].name }} - {{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "7a9e1eff-8618-4d2d-8101-9f13451e97bb",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "f025287d-c8cf-4975-8627-783ed687cdf4",
              "name": "body",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "8be81648-348d-4e20-9e32-51764b52fcd8",
              "name": "thread_link",
              "value": "={{ $json.threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1024,
        96
      ],
      "id": "70b382d0-d4bc-45cc-b42e-043620bbc6d9",
      "name": "Collect Ticket Context"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"category\": {\n      \"type\": \"string\",\n      \"enum\": [\"order_delivery\", \"payment\", \"quality\", \"installation\", \"tech\", \"consultation\"]\n    },\n    \"priority\": {\n      \"type\": \"string\",\n      \"enum\": [\"P1\", \"P2\", \"P3\", \"P4\"]\n    },\n    \"owner\": {\n      \"type\": \"string\",\n      \"enum\": [\"irina_logistics\", \"oleg_founder\", \"maksym_support\", \"dmytro_tech\", \"katya_support\"]\n    },\n    \"sla_minutes\": {\n      \"type\": \"integer\",\n      \"enum\": [15, 120, 1440, 2880]\n    },\n    \"sla_deadline\": {\n      \"type\": \"string\",\n      \"format\": \"date-time\",\n      \"description\": \"Розрахований дедлайн відповіді: timestamp створення тікета + sla_minutes, у форматі ISO 8601\"\n    },\n    \"status\": {\n      \"type\": \"string\",\n      \"enum\": [\"open\", \"in_progress\", \"escalated\", \"resolved\"],\n      \"description\": \"Поточний статус тікета; для нового тікета завжди open\"\n    },\n    \"thread_link\": {\n      \"type\": [\"string\", \"null\"],\n      \"format\": \"uri\",\n      \"description\": \"Посилання на оригінальний email-лист/тред у поштовому клієнті (mailto: лінк, web-link на лист в Gmail/Outlook, або internal message ID). null, якщо посилання не передане в контексті\"\n    },\n    \"reasoning\": {\n      \"type\": \"string\",\n      \"description\": \"3 речення обґрунтування пріоритету за 3 вимірами\"\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"1 речення, про що тікет\"\n    },\n    \"customer_sentiment\": {\n      \"type\": \"string\",\n      \"enum\": [\"positive\", \"neutral\", \"frustrated\", \"angry\"]\n    }\n  },\n  \"required\": [\"category\", \"priority\", \"owner\", \"sla_minutes\", \"sla_deadline\", \"status\", \"thread_link\", \"reasoning\", \"summary\", \"customer_sentiment\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -656,
        320
      ],
      "id": "3fdc7cea-4767-4b69-bca8-112a0019c3fa",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger (every 1m)": {
      "main": [
        [
          {
            "node": "Collect Ticket Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classifier (Chain of Thought)": {
      "main": [
        [
          {
            "node": "Now spam?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Classifier (Chain of Thought)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Now spam?": {
      "main": [
        [
          {
            "node": "Log → Tickets Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack: Notify Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Ticket Context": {
      "main": [
        [
          {
            "node": "AI Classifier (Chain of Thought)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Classifier (Chain of Thought)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "30843553-3768-40c6-a264-33f9bf05f342",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd4ab89221d7ef8491ff1366da74a7c05685b23922c66917aa4eb97a952e68f4"
  },
  "nodeGroups": [],
  "id": "L9KeZWBTmlvgGh4Q",
  "tags": []
}